.hero-section {
    position: relative;
    height: 95vh;
    @extend %atCenter;
    background-image: linear-gradient(to right bottom, $color-primary-light-op, $color-primary-dark-op),
        url(../images/hero.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%);

    .logo-box {
        position: absolute;
        top: 4rem;
        left: 4rem;

        .logo {
            width: 7rem;
            display: inline-block;

            img {
                width: 100%;
            }
        }
    }
}